In [1]:
import numpy as np
import pandas as pd

In [7]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuple(hier_index)

AttributeError: type object 'MultiIndex' has no attribute 'from_tuple'

In [4]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [5]:
inside

[1, 2, 3, 1, 2, 3]

In [6]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [11]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])

In [12]:
df

                A         B
(G1, 1)  0.682363  1.106704
(G1, 2)  0.138131  0.461191
(G1, 3) -0.132038  1.303723
(G2, 1)  0.589496 -2.490868
(G2, 2) -0.037564  0.073955
(G2, 3) -0.403441 -0.863723

In [17]:
df.index.names = ['Grupo']

In [18]:
df

                A         B
Grupo
(G1, 1)  0.682363  1.106704
(G1, 2)  0.138131  0.461191
(G1, 3) -0.132038  1.303723
(G2, 1)  0.589496 -2.490868
(G2, 2) -0.037564  0.073955
(G2, 3) -0.403441 -0.863723

In [20]:
df.xs

<bound method NDFrame.xs of                 A         B
Grupo
(G1, 1)  0.682363  1.106704
(G1, 2)  0.138131  0.461191
(G1, 3) -0.132038  1.303723
(G2, 1)  0.589496 -2.490868
(G2, 2) -0.037564  0.073955
(G2, 3) -0.403441 -0.863723>